html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
html {
    background: center fixed url('../media/background.jpg');
    background-size: cover;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1, h2, h3, h4 {
    font-weight: normal;
    margin: 0;
}
hr {
    border: none;
    border-top: 1px dashed white;
}
a {
    color: inherit;
    transition: opacity .3s;
}
a:hover {
    opacity: .6;
}
button {
    border: none;
    background: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    opacity: .5;
    font-size: .8rem;
    transition: opacity .3s, font-size .3s;
}
button:hover {
    opacity: 1;
    background: rgba(255, 255, 255, 0.075);
}
header {
    position: fixed;
    width: 100vw;
    height: 3rem;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6) 50%, transparent 100%);
    padding: 1.5rem 0 2rem 0;
}
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav ul {
    margin: 1rem;
    padding: 0;
    text-align: center;
    list-style: none;
}

.navBlankSpace {
    height: 20vh;
}
.sectionContainer {
    position: relative;
    padding-top: 5.5rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section {
    position: relative;
    width: 60%;
    padding: 5rem 2rem;
    background: rgba(77, 56, 56, 0.253);
    box-shadow: 0 5px 10px rgba(8, 94, 8, 0.09);
    border-radius: .25rem;
    margin: 1rem auto;
    border-left: 0 solid transparent;
    border-right: 0 solid transparent;
    opacity: .5;
    transition: transform .6s, background-color .3s, opacity .3s, border .6s, border-radius .9s;
}
.sectionActive {
    opacity: 1;
    background-color: rgba(23, 37, 25, 0.753);
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
}
.elementsContainer {
    display: grid;
    grid-template-columns: repeat(2, auto);    
}
.nav__link {
    opacity: .5;
    font-size: .8rem;
    transition: opacity .3s, font-size .3s;
}
.active {
    opacity: 1;
    font-size: 1rem;
}
footer {
    height: 100vh;
}
.hr_y {
    position: fixed;
    width: 100vw;
    height: 1px;
    background: red;
    border: none;
}