.sectionContainer {
    position: relative;
    padding-top: 5.5rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section {
    position: relative;
    width: 60%;
    padding: 5rem 2rem;
    background: rgba(77, 56, 56, 0.253);
    box-shadow: $boxShadow;
    border-radius: .25rem;
    margin: 1rem auto;
    border-left: 0 solid transparent;
    border-right: 0 solid transparent;
    opacity: .5;
    transition: transform .6s, background-color .3s, opacity .3s, border .6s, border-radius .9s;
}

.sectionActive {
    opacity: 1;
    background-color: rgba(23, 37, 25, 0.753);
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
}

.elementsContainer {
    display: grid;
    grid-template-columns: repeat(2, auto);
}